extends layouts/main

block content
    .main-contents.change-password
        form(action=`/users${routes.changePassword}`,method="post")
            label(for="originalPassword") Original Password
            input(id="originalPassword",name="originalPassword",type="password",required,placeholder="Original Password")
            label(for="newPassword") New Password
            input(id="newPassword",name="newPassword",type="password",required,placeholder="New Password")
            input(type="submit",value="Change Password") 